:root {

  --color-0: #ffffff; /* box color */



  --color-1: #cceecc; /* */

  --color-2: #e3f1af; /* */

  --color-3: #4bc84b; /* main color */

  --color-4: #71da35; /* sub  color */

  --color-5: #cff1af; /* */
  --logo-URL: url(https://media.discordapp.net/attachments/579335484556181506/685880871127220244/27d9190719414322.jpg);
  --logo-Width: 158px;
  --logo-Height: 50px;
  --logo-size-mobile: 90px 32px;
  --icon-URL: url();
  --pre-comment: "Å×½º ";
  --sub-comment: "Æ®";





}



header #header-bar > .row {

    padding-top: 0.3em; padding-bottom: 0.3em; border-top: 4px solid var(--color-5);

    background: -webkit-linear-gradient(45deg, var(--color-3) 0%,var(--color-5) 11%,var(--color-2) 100%);

    border-bottom: 2px solid var(--color-1); border-right: 2px solid var(--color-1) 

}




